@import './base/colors.scss';
@import './base/typography.scss';
@import './components/footer.scss';
@import './components/brandCard.scss';
@import './components/blogCard.scss';
@import './components/tabs.scss';
@import './page/singleBlog.scss';
@import './components/nav.scss';
@import './components/newsletterBlock.scss';

button, a{
    cursor: pointer;
}

.menu-wrapper a.contact-button:hover {
    color: #fff !important;
    background-color: #ffffff11 !important;
    transition: all 0.3s ease;
}

.custom-card {
    background-color: hsl(206 18% 9% / 1);
}
.contact-form{
    input, textarea{
        background-color: transparent;
    }
}
.faq-title{
    font-family: 'InterDisplay';
}