@import './base/colors.scss';
@import './base/typography.scss';
@import './components/footer.scss';
@import './components/brandCard.scss';
@import './components/blogCard.scss';
@import './components/tabs.scss';
@import './page/singleBlog.scss';
@import './components/nav.scss';
@import './components/newsletterBlock.scss';
@import './page/singleResidence.scss';
@import './components/forms.scss';

body{
    scroll-behavior: smooth;
}
button, a{
    cursor: pointer;
}

.menu-wrapper a.contact-button:hover {
    color: #fff !important;
    background-color: #ffffff11 !important;
    transition: all 0.3s ease;
}

.custom-card {
    background-color: hsl(206 18% 9% / 1);
}
.contact-form{
    input, textarea{
        background-color: transparent;
    }
}
.faq-title{
    font-family: 'InterDisplay';
}

.residence-filters, .unit-filters{
    input, select, button {
        background-color: #101417;
        color: #fff;
        border-color: oklch(1 0 0 / 5%);
    }
}
.search-wrapper{
    background-color: #101417;
    top: -4px;
    input{
        background-color: transparent;
        color: #fff;
    }
}
div[data-radix-select-viewport]{
    background-color: #101417;
    border-color: oklch(1 0 0 / 5%);

    div[role="option"]{
        transition: 0.3s ease-in-out;
        cursor: pointer;
        &:hover{
            background-color: #ffffff11;
        }
    }
}
div[data-slot="select-scroll-up-button"],
div[data-slot="select-scroll-down-button"]{
    background-color: #101417;
}

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@import 'swiper/css/zoom';

.swiper-button-prev, .swiper-button-next{
    background-color: #0000008a !important;
    width: 40px !important;
    height: 40px !important;
    overflow: hidden !important;
    padding: 0.5rem !important;
    border-radius: 8px;

    &::after, &::before{
        width: 100% !important;
        height: 100% !important;
        font-size: 1.5rem !important;
        text-align: center;
        color: #fff;
        font-weight: 500;
    }
}
.swiper-pagination-bullet{
    background-color: #fff !important;
}
.swiper-pagination-bullet-active{
    background-color: #b3804c !important;
}